@page "/"

@using PrzeedszkOla.Components;


<div class="center-screen">
    <MemoryBoard />
</div>

<style>
    .center-screen {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        min-height: 100vh;
        max-height: 100vw;
        background-color:black;
    }

    body{
        margin: 0;
    }
</style>