<div class="game-tile">
   <p>test</p> 
</div>

<style>
    .game-tile {
        aspect-ratio: 1;
        min-width: 100px;
        min-height: 100px;
        background-color: red;
        height: 100px;
    }
</style>
@code {

}
